/* font */
@font-face {
	font-family:'iransans-light';
	src:url('../font/iransans-light.woff') format('woff'), url('../font/iransans-light.ttf') format('truetype');
	font-weight:normal
}
@font-face {
	font-family:'iransans-bold';
	src:url('../font/iransans-bold.woff') format('woff'), url('../font/iransans-bold.ttf') format('truetype');
	font-weight:bold
}

/* general */
* {
	box-sizing: border-box;
	outline: none;
}
body {
	scrollbar-width: none;
	margin: 0;
	font-weight: 400;
	color: #333;
	text-align: right;
	background-color: #fff;
	font-family: 'iransans-light';
	font-size: 14px;
	overflow-x: hidden;
}
input::placeholder {
    color: #525252;
}
::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}
.hide-scrollbar
{
	overflow: auto;
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
}
.fs-12{ font-size: 12px }
.fs-16{ font-size: 16px }
.fs-24{ font-size: 24px }
.fs-32{ font-size: 32px }


.flex-1{ flex: 1 }

input, label {
	font-size: 16px;
}

.page{
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page > header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #C27EB9;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	width: 100vw;
	height: 56px;
	z-index: 3;
	box-shadow: 0 0 4px #acacac;
}
.page > .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
}
.page > .content > input {
	width: 200px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 8px;
	height: 40px;
	margin-top: 8px;
}
.page > .content > .btn {
	height: 40px;
	color: white;
	border-radius: 8px;
	margin-top: 70px;
	width: 100px;
	background-color: #12c800;
}
.page > .content > ul {
  padding-right: 20px;
  list-style: none;
  margin-top: 10px;
}
.page .content > img {
width: 100%;
height: 25vh;
object-fit: cover;
}

