.page.blogs > .content {
	display: block;
	margin-top: 76px;
}
.page.blogs > .content > .posts {
	display: flex;
	padding: 16px;
}
.page.blogs > .content > .posts > img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
}
.page.blogs > .content > .posts > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: right;
	margin-right: 10px;
}
.page.blogs > .content > .posts > div > .body {
	margin-top: 4px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.page.blogs > .content > .details {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding: 16px;
	border-bottom: 1px solid #eee;

}
.page.blogs > .content > .details span {
	width: 33%;
	text-align: right;
    display: -webkit-box; 
}
