.page.blog > .content{
    margin: 56px 0;
    display: block;
}
.page.blog > .content > .details {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.page.blog > .content > article {
  text-align: right;
  padding-right: 10px;
}
.page.blog .content > article > p {
  text-align: justify;
  padding: 10px;
}
.page.blog > .content > .relatedPosts {
  line-height: 1px;
  width: 100%;
  border-bottom: 1px solid;
}
.page.blog > .content > .relatedPosts > span {
  padding-right: 20px;
  background-color: white;
  padding-left: 20px;
  float: right;	
}
.page.blog > .content > .newPosts {
  display: flex;
  padding: 16px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}
.page.blog > .content > .newPosts > img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.page.blog > .content > .newPosts > .post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
  text-align: right;
}
.page.blog > .content > .newPosts > .post > .details {
  display: flex;
}
.page.blog > .content > .newPosts > .post .body{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12px;
}
.page.blog > .content > .last {
  margin-top: 0;
}