.page.home > .bottomNav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #FFFFFF;
    align-items: center;
    width: 100vw;
    height: 56px;
    box-shadow: 0 0 1px #acacac;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #C27EB9;
}
.page.home > .content{
    margin: 56px 0;
}
.page.home > .content .mostLikedItem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    min-width: 90%;
    margin-right: 16px;
    border: 1px solid #eee;
}
.page.home > .content .mostLikedItem:first-child{
    margin-right: 8px;
}
.page.home > .content .mostLikedItem > img{
    height: 96px;
    width: 96px;
    object-fit: cover;
    background-color: #acacac;
}
.page.home > .content .body{
    margin-top: 4px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.page.home > .content .newestItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    width: 100%;
    border-top: 1px solid #eee;
}
.page.home > .content .newestItem img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #acacac;
}
.page.home > .content .newestItem .favoriteBtn{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 4px;
    border-radius: 8px;
}
.page.home > .content .newestItem .details{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    color: #888;
    font-size: 12px;
}
.page.home > .content > ul::after{
    content: ' ';
    padding-right: 16px;
}