.page.userFavorites > .content{
    margin-top: 56px;
}
.page.userFavorites .favoriteItem{
    padding: 16px;
    border-bottom: 1px solid #eee;
}
.page.userFavorites > .content .main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 80px;
}
.page.userFavorites > .content .main img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    background-color: #acacac;
}
.page.userFavorites > .content .favoriteItem .details{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    color: #888;
    font-size: 12px;
}
.page.userFavorites > .content .favoriteItem .main .body{
    margin-top: 4px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}